.perspective-style {
  perspective: 1000px;
}
.innerPrep {
  transition: 0.3s;
  transform: rotateY(-18deg);
}
#mainText::-webkit-scrollbar {
  display: none;
}
#mainText {
  mask-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.1),
    #000,
    #000,
    #000,
    #000,
    #000
  );
}
.portfolioImg:hover {
  clip-path: polygon(0 9%, 100% 0%, 100% 90%, 0 100%);
}
.gradientDiv {
  background: linear-gradient(to bottom, #00000000, #383838);
}

/* Main component color */
.textArea {
  color: red;
}

/* Styles for the label */
.textArea .MuiInputLabel-root {
  color: white;
  font-size: 1.5rem;
  font-family: "Recoleta";
}

/* Styles for the input root */
.textArea .MuiInput-root,
.textArea .css-uhyr2s-MuiInputBase-root-MuiInput-root,
.textArea .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
.textArea .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.textArea .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-family: "Recoleta";
  color: white;
}

/* Specific pseudo-element styles for input root */
.textArea .css-uhyr2s-MuiInputBase-root-MuiInput-root::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 2px;
  background-color: #b2ff02;
  color: #b2ff02;
  border-bottom: none;
  transition: all;
}

.textArea .css-uhyr2s-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none;
}

.textArea .css-uhyr2s-MuiInputBase-root-MuiInput-root {
  position: relative;
  margin-top: 40px;
  border-bottom: 1px solid #b2ff02;
}

/* Main color of the component */
.inputArea {
  color: red;
}

/* Label styling */
.inputArea .MuiInputLabel-root,
.inputArea .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
.inputArea .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: white;
  font-size: 1.5rem;
  font-family: "Recoleta";
}

/* Input styling */
.inputArea .MuiInput-root,
.inputArea .css-1eed5fa-MuiInputBase-root-MuiInput-root,
.inputArea .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-family: "Recoleta";
  color: white;
}

/* Specific pseudo-elements for input styling */
.inputArea .css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 2px;
  background-color: #b2ff02;
  color: #b2ff02;
  border-bottom: none;
  transition: all;
}

.inputArea .css-1eed5fa-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none;
}

.inputArea .css-1eed5fa-MuiInputBase-root-MuiInput-root {
  position: relative;
  margin-top: 40px;
  border-bottom: 1px solid #b2ff02;
}
