@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;

}

div, h1 {
  overflow-y: visible;
}



@font-face {
  font-family: "Akzid";
  src: url("/fonts/Akzidenz-Grotesk Pro/akzidenzgroteskpro_regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Akzid";
  src: url("/fonts/Akzidenz-Grotesk Pro/akzidenzgroteskpro_light.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta Thin.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta Black.otf");
  font-weight: 900;
  font-style: normal;
}

/* Accordion content wrapper */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

/* When the accordion is open, set max-height to a large enough value to contain all content */
.accordion-content-open {
  max-height: 500px; /* Adjust based on your content size */
}

/* To ensure smooth display of the content, disable pointer events when closed */
.accordion-content {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* When the accordion is open */
.accordion-content-open {
  pointer-events: all;
  opacity: 1;
  max-height: 500px; /* Adjust as needed for content */
}

@media (max-width: 768px) {
  .accordion-content-open {
    max-height: 700px; /* Adjust based on your content size */
  }
}

/* Infinite slider styling */
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 130px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; /* Full width */
}

.slider.twenty {
  width: 120%; /* Full width */
}

.slider.thirty {
  width: 130%;
}

.slider.forty {
  width: 140%;
}

.slider.fifty {
  width: 150%;
}

.slider.eighty {
  width: 180%;
}

.slider.twohundred {
  width: 240%;
}

/* Animation keyframes */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2)); /* Move half of the total width */
  }
}

@keyframes anti-scroll {
  0% {
    transform: translateX(calc(-100% / 2)); /* Move half of the total width */
  }
  100% {
    transform: translateX(0);
  }
}


.slider::before,
.slider::after {
  content: "";
  position: absolute;
  height: 130px;
  width: 200px;
  z-index: 2;
}

.slide {
  height: 130px;
  width: calc(100% / 2); /* Each slide takes 1/5th of the container width */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .slider {
    height: 63px;
  }
  .slide {
    height: 63px;
  }
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  width: calc(200%); /* Ensure the slides take up double the space for looping */
  animation: scroll 9s linear infinite; /* Run the scroll infinitely */
}

.message-slider > .slide-track {
  display: flex;
  width: calc(200%); /* Ensure the slides take up double the space for looping */
  animation: anti-scroll 9s linear infinite; /* Run the scroll infinitely */
}




